{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SoftSkin SaaS{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap" rel="stylesheet">
    <style>
        :root{ --cor-primaria: #8E44AD; } 
        body{ font-family: 'Inter', sans-serif; }
        .bg-theme { background-color: var(--cor-primaria); }
        .text-theme { color: var(--cor-primaria); }
        .ring-theme:focus { outline: none; box-shadow: 0 0 0 3px rgba(142, 68, 173, 0.2); border-color: var(--cor-primaria); }
    </style>
</head>
<body class="bg-slate-50">
    {% block content %}{% endblock %}
</body>
</html>